<body  >
<center>
<h1 style= "color: red">Create Account</h1>
<hr>
{{msg}}
<div style= "color: blue">
<form action="" method="post">
 Name :   	  <input type="text" name ="Name" placeholder="Enter Name"><br><br>

EMail Id :     <input type="email" name ="EmailId" placeholder="xyz@gmail.com" ><br><br>

Password :     <input type="password" name ="Password" ><br><br>

<input type="submit", value="Submit">

</form>
</div>
</center>
</body>