<center>
<h1>Employee Registration Form</h1>
<hr>
{{msg}}
<pre>
<form action="" method="post">
 Eid:     <input type="text" name ="eid" >

 Name :   <input type="text" name ="Name" >

 Salary:  <input type="text" name ="Salary">

 <input type="submit", value="Submit">
</form>
</pre>
</center>